src/Flow.json
[{"id":"ba1dd30d78d8f137","type":"tab","label":"HowTo Notifier API","disabled":false,"info":""},{"id":"968c4b92c3339109","type":"comment","z":"ba1dd30d78d8f137","name":"IED Access Token Generator","info":"","x":240,"y":60,"wires":[]},{"id":"363a4a636f3fe845","type":"function","z":"ba1dd30d78d8f137","name":"Token Manager","func":"// Get credentials and IP from global context\nconst config = global.get('iedConfig') || {\n    ip: '139.10.54.79',\n    username: 'customer_admin',\n    password: 'P4#42Bt4E2jO'\n};\n\n// Get current token from global context\nlet tokenData = global.get('iedAccessToken') || {};\n\n// Check if this is an auto-refresh trigger\nconst isAutoRefresh = msg.topic === 'timer-refresh';\n\nif (isAutoRefresh) {\n    node.warn('Auto-refresh initiated by timer');\n}\n\n// Check if token is still valid\nconst now = Math.floor(Date.now() / 1000);\nif (tokenData.accessToken && tokenData.expiresAt && now < tokenData.expiresAt - 60 && !isAutoRefresh) {\n    // Token still valid (with 60s buffer) and not auto-refresh\n    const expiresIn = tokenData.expiresAt - now;\n    const minutes = Math.floor(expiresIn / 60);\n    const seconds = expiresIn % 60;\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: `Token valid: ${minutes}m ${seconds}s remaining`\n    });\n    \n    node.warn(`Reusing existing token (expires in ${minutes}m ${seconds}s)`);\n    \n    // Return existing valid token without making new request\n    msg.payload = {\n        accessToken: tokenData.accessToken,\n        refreshToken: tokenData.refreshToken,\n        expiresAt: tokenData.expiresAt,\n        expiresIn: expiresIn,\n        valid: true,\n        reused: true\n    };\n    return [null, msg]; // Send to output 2 (skip HTTP request)\n}\n\n// Token expired or doesn't exist or auto-refresh triggered, request new one\nnode.status({fill: \"yellow\", shape: \"ring\", text: \"Requesting new token...\"});\nnode.warn('Requesting new access token from IED');\n\nmsg.url = `https://${config.ip}/device/edge/api/v2/login/direct`;\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\nmsg.payload = {\n    username: config.username,\n    password: config.password\n};\n\n// Store node reference for status update\nflow.set('tokenManagerNode', node);\n\nreturn [msg, null]; // Send to output 1 (HTTP request)","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["e54c5aebdd09c9d1"],["2beaf2182d755cc0"]]},{"id":"e54c5aebdd09c9d1","type":"http request","z":"ba1dd30d78d8f137","name":"Get Access Token","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":660,"y":180,"wires":[["a8b6c5657ed9c603"]]},{"id":"a8b6c5657ed9c603","type":"function","z":"ba1dd30d78d8f137","name":"Process Token Response","func":"const tokenData = msg.payload;\nconst tokenManagerNode = flow.get('tokenManagerNode');\n\nif (tokenData && tokenData.accessToken) {\n    // Override expiresAt for testing (2 minutes from now)\n    const now = Math.floor(Date.now() / 1000);\n    //tokenData.expiresAt = now + 120; // Test: Token expires in 2 minutes\n    \n    // Store token data in GLOBAL context with modified expiry\n    global.set('iedAccessToken', tokenData);\n    \n    // Calculate time until expiry\n    const expiresIn = tokenData.expiresAt - now;\n    const minutes = Math.floor(expiresIn / 60);\n    const seconds = expiresIn % 60;\n    \n    // Update both node statuses\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: `Token active: ${minutes}m ${seconds}s`\n    });\n    \n    // Update Token Manager node status\n    if (tokenManagerNode) {\n        tokenManagerNode.status({\n            fill: \"green\",\n            shape: \"dot\",\n            text: `Token valid: ${minutes}m ${seconds}s remaining`\n        });\n    }\n    \n    // Cancel existing timer if any\n    const existingTimer = flow.get('tokenRefreshTimer');\n    if (existingTimer) {\n        clearTimeout(existingTimer);\n        node.warn('Cleared previous refresh timer');\n    }\n    \n    // Schedule refresh 60 seconds before expiry\n    const refreshDelay = Math.max((expiresIn - 60) * 1000, 5000);\n    const refreshInSeconds = Math.floor(refreshDelay / 1000);\n    \n    node.warn(`Token received successfully`);\n    node.warn(`Token expires at: ${new Date(tokenData.expiresAt * 1000).toLocaleTimeString()}`);\n    node.warn(`Auto-refresh scheduled in ${refreshInSeconds} seconds`);\n    \n    // Store current node instance for callback\n    const currentNode = node;\n    \n    // Create new timer that triggers via global flag\n    const newTimer = setTimeout(() => {\n        const triggerTime = new Date().toLocaleTimeString();\n        currentNode.warn(`⏰ Timer fired at ${triggerTime} - setting refresh trigger`);\n        \n        // Set global trigger flag\n        global.set('tokenRefreshTrigger', {\n            timestamp: Date.now(),\n            triggered: true\n        });\n        \n        currentNode.status({\n            fill: \"yellow\",\n            shape: \"ring\",\n            text: \"Refresh pending...\"\n        });\n    }, refreshDelay);\n    \n    // Store timer reference\n    flow.set('tokenRefreshTimer', newTimer);\n    \n    msg.payload = {\n        accessToken: tokenData.accessToken,\n        refreshToken: tokenData.refreshToken,\n        expiresAt: tokenData.expiresAt,\n        expiresIn: expiresIn,\n        valid: true,\n        newToken: true,\n        nextRefreshIn: refreshInSeconds\n    };\n    \n    return [msg, null];\n} else {\n    const errorMsg = 'Failed to retrieve access token from IED';\n    node.status({fill: \"red\", shape: \"ring\", text: \"Token request failed\"});\n    node.error(errorMsg);\n    \n    if (tokenManagerNode) {\n        tokenManagerNode.status({fill: \"red\", shape: \"ring\", text: \"Request failed\"});\n    }\n    \n    msg.payload = { \n        valid: false, \n        error: \"Failed to get token\",\n        response: tokenData\n    };\n    return [msg, null];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":180,"wires":[["2beaf2182d755cc0"],[]]},{"id":"2d5b090d5621f158","type":"inject","z":"ba1dd30d78d8f137","name":"Refresh Monitor","props":[{"p":"payload"},{"p":"rejectUnauthorized","v":"false","vt":"bool"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["d99c91b031c4662f"]]},{"id":"d99c91b031c4662f","type":"function","z":"ba1dd30d78d8f137","name":"Check Refresh Flag","func":"// Check if refresh was triggered\nconst trigger = global.get('tokenRefreshTrigger');\n\nif (trigger && trigger.triggered) {\n    const triggerTime = new Date(trigger.timestamp).toLocaleTimeString();\n    node.warn(`Refresh trigger detected (set at ${triggerTime})`);\n    \n    // Clear the flag\n    global.set('tokenRefreshTrigger', {triggered: false});\n    \n    // Send message to trigger token refresh\n    msg.topic = 'timer-refresh';\n    msg.payload = 'auto-refresh';\n    \n    node.status({fill: \"green\", shape: \"dot\", text: \"Triggering refresh\"});\n    \n    return msg;\n}\n\n// Update status to show monitoring is active\nnode.status({fill: \"blue\", shape: \"ring\", text: \"Monitoring...\"});\n\nreturn null; // Don't send anything if no trigger","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["363a4a636f3fe845"]]},{"id":"2beaf2182d755cc0","type":"debug","z":"ba1dd30d78d8f137","name":"Token Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":220,"wires":[]},{"id":"46df84c56ed4850b","type":"inject","z":"ba1dd30d78d8f137","name":"Start Token Manager","props":[{"p":"payload"},{"p":"rejectUnauthorized","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["363a4a636f3fe845"]]},{"id":"c433614cfd9f62f1","type":"inject","z":"ba1dd30d78d8f137","name":"Initialize Config","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":220,"y":120,"wires":[["d37993268096e094"]]},{"id":"d37993268096e094","type":"function","z":"ba1dd30d78d8f137","name":"Set IED Config","func":"// Store credentials in global context\nconst config = {\n    ip: '139.10.54.79',\n    username: 'edge@siemens.com',\n    password: '@password'\n};\n\nglobal.set('iedConfig', config);\n\n// Initialize refresh trigger flag\nglobal.set('tokenRefreshTrigger', {triggered: false});\n\nnode.status({fill: \"green\", shape: \"dot\", text: \"Config initialized\"});\nnode.warn('IED configuration loaded');\nnode.warn(`IED IP: ${config.ip}`);\nnode.warn(`Username: ${config.username}`);\n\nmsg.payload = \"IED Config initialized\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[[]]},{"id":"ce7ff81961245c36","type":"function","z":"ba1dd30d78d8f137","name":"Get Current Token","func":"// Retrieve current token from global context\nconst tokenData = global.get('iedAccessToken');\n\nif (tokenData && tokenData.accessToken) {\n    const now = Math.floor(Date.now() / 1000);\n    const expiresIn = tokenData.expiresAt - now;\n    \n    if (expiresIn > 0) {\n        const minutes = Math.floor(expiresIn / 60);\n        const seconds = expiresIn % 60;\n        const expiryTime = new Date(tokenData.expiresAt * 1000).toLocaleTimeString();\n        \n        node.status({\n            fill: \"green\",\n            shape: \"dot\",\n            text: `Valid: ${minutes}m ${seconds}s`\n        });\n        \n        node.warn('Current Token Status:');\n        node.warn(`   Valid for ${minutes}m ${seconds}s`);\n        node.warn(`   Expires at ${expiryTime}`);\n        node.warn(`   Token: ${tokenData.accessToken.substring(0, 20)}...`);\n        \n        msg.payload = tokenData;\n    } else {\n        node.status({fill: \"red\", shape: \"ring\", text: \"Token expired\"});\n        node.warn('Token has expired');\n        msg.payload = { error: \"Token expired\" };\n    }\n} else {\n    node.status({fill: \"grey\", shape: \"ring\", text: \"No token available\"});\n    node.warn('No token found in global context');\n    msg.payload = { error: \"No token available\" };\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":320,"wires":[["2beaf2182d755cc0"]]},{"id":"c6fd02160d9af562","type":"inject","z":"ba1dd30d78d8f137","name":"Check Token Status","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":320,"wires":[["ce7ff81961245c36"]]},{"id":"d413020439d78f70","type":"comment","z":"ba1dd30d78d8f137","name":"GET all notifications (external only)","info":"","x":260,"y":380,"wires":[]},{"id":"889125145a6e78f5","type":"comment","z":"ba1dd30d78d8f137","name":"POST raise notification","info":"","x":220,"y":1260,"wires":[]},{"id":"ae9b6ef4f7e370d2","type":"http request","z":"ba1dd30d78d8f137","name":"POST raise notification","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/ext/raise","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":600,"y":1320,"wires":[["b6ce643708c3bda4"]]},{"id":"b6ce643708c3bda4","type":"debug","z":"ba1dd30d78d8f137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1320,"wires":[]},{"id":"cf9ba31019eed35f","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1320,"wires":[["9d1e37bc42f1eac6"]]},{"id":"9d1e37bc42f1eac6","type":"function","z":"ba1dd30d78d8f137","name":"set request body","func":"// Get access token from global context\nconst tokenData = global.get('iedAccessToken') || {};\nif (tokenData.accessToken) {\n    msg.headers = msg.headers || {};\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\n} else {\n    node.warn('No access token available - run Token Manager first');\n}\nmsg.payload = {}\n\nmsg.payload={\n  'notificationTypeId': '3',\n  'eventText': 'INFO from Flow Creator',\n  'assetId': '62bba2ef226c4d389be7fa97971a8771',\n  'notificationSource': 'FlowCreator'\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1320,"wires":[["ae9b6ef4f7e370d2"]]},{"id":"586a65241515b8a0","type":"comment","z":"ba1dd30d78d8f137","name":"PUT clear notification (external only)","info":"","x":260,"y":1100,"wires":[]},{"id":"8432835977ad1901","type":"comment","z":"ba1dd30d78d8f137","name":"GET one notification (external only)","info":"","x":260,"y":660,"wires":[]},{"id":"fe358c1ceb077b0e","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":720,"wires":[["11a582996c2f06bc"]]},{"id":"11a582996c2f06bc","type":"function","z":"ba1dd30d78d8f137","name":"set params","func":"// Get access token from global context\nconst tokenData = global.get('iedAccessToken') || {};\nif (tokenData.accessToken) {\n    msg.headers = msg.headers || {};\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\n} else {\n    node.warn('No access token available - run Token Manager first');\n}\nmsg.notificationId = {}\nmsg.notificationSource = {}\nmsg.notificationId = \"14\";\nmsg.notificationSource = \"KPI calculation app\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":720,"wires":[["a193136bf22d9c9b"]]},{"id":"a193136bf22d9c9b","type":"http request","z":"ba1dd30d78d8f137","name":"GET one notification","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/ext/active/{{{notificationId}}}?notificationSource={{{notificationSource}}}","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":720,"wires":[["6c0ee2b47eb73151"]]},{"id":"6c0ee2b47eb73151","type":"debug","z":"ba1dd30d78d8f137","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":720,"wires":[]},{"id":"f1231e54e6d4926f","type":"comment","z":"ba1dd30d78d8f137","name":"GET one notifications (old API)","info":"","x":250,"y":780,"wires":[]},{"id":"63a1f4c9a93ca9aa","type":"comment","z":"ba1dd30d78d8f137","name":"PUT accept notification (external only)","info":"","x":270,"y":940,"wires":[]},{"id":"0f6a81f5cbaed7ce","type":"http request","z":"ba1dd30d78d8f137","name":"PUT accept notification","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://notifier/notificationservice/notifications/{{{notificationId}}}/ext/accept?userId={{{userId}}}&notificationSource={{{notificationSource}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":1000,"wires":[["d476719d6e468823"]]},{"id":"d476719d6e468823","type":"debug","z":"ba1dd30d78d8f137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1000,"wires":[]},{"id":"5834df52587d8fd9","type":"function","z":"ba1dd30d78d8f137","name":"set params","func":"// Get access token from global context\nconst tokenData = global.get('iedAccessToken') || {};\nif (tokenData.accessToken) {\n    msg.headers = msg.headers || {};\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\n} else {\n    node.warn('No access token available - run Token Manager first');\n}\nmsg.notificationId = {}\nmsg.userId = {}\nmsg.notificationSource = {}\n\nmsg.notificationId = \"1\";\nmsg.userId = \"edge@siemens.com\"\nmsg.notificationSource = \"external Source\";\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1000,"wires":[["0f6a81f5cbaed7ce"]]},{"id":"d8e7665082c46033","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1000,"wires":[["5834df52587d8fd9"]]},{"id":"59a9121088f4187c","type":"http request","z":"ba1dd30d78d8f137","name":"GET all notifications","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":600,"y":560,"wires":[["3deabe87758cf6ec"]]},{"id":"3deabe87758cf6ec","type":"debug","z":"ba1dd30d78d8f137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":560,"wires":[]},{"id":"7a89124124a8d1eb","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":560,"wires":[["292d511200594dd4"]]},{"id":"2b5bdadc8d90adbb","type":"comment","z":"ba1dd30d78d8f137","name":"GET all notifications (old API)","info":"","x":240,"y":500,"wires":[]},{"id":"564b91aafee02694","type":"function","z":"ba1dd30d78d8f137","name":"set params","func":"// Get access token from global context\nconst tokenData = global.get('iedAccessToken') || {};\nif (tokenData.accessToken) {\n    msg.headers = msg.headers || {};\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\n} else {\n    node.warn('No access token available - run Token Manager first');\n}\nmsg.notificationSource = {}\nmsg.notificationSource = \"external Source\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":440,"wires":[["84ff210c5b4a7241"]]},{"id":"e5a58e2b6edc4cf4","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["564b91aafee02694"]]},{"id":"84ff210c5b4a7241","type":"http request","z":"ba1dd30d78d8f137","name":"GET all notifications","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/ext/active?notificationSource={{{notificationSource}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":600,"y":440,"wires":[["f5230835ad61c010"]]},{"id":"f5230835ad61c010","type":"debug","z":"ba1dd30d78d8f137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"0f30cbc808724d79","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":840,"wires":[["aa9c0ed7139115ed"]]},{"id":"aa9c0ed7139115ed","type":"function","z":"ba1dd30d78d8f137","name":"set params","func":"// Get access token from global context\r\nconst tokenData = global.get('iedAccessToken') || {};\r\nif (tokenData.accessToken) {\r\n    msg.headers = msg.headers || {};\r\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\r\n} else {\r\n    node.warn('No access token available - run Token Manager first');\r\n}\r\nmsg.notificationId = {}\nmsg.notificationId = \"14\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":840,"wires":[["0f2bc45975263aa0"]]},{"id":"0f2bc45975263aa0","type":"http request","z":"ba1dd30d78d8f137","name":"GET one notification","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/{{{notificationId}}}","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":840,"wires":[["4fbcb0071d11484d"]]},{"id":"4fbcb0071d11484d","type":"debug","z":"ba1dd30d78d8f137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":840,"wires":[]},{"id":"6e07d0925babc823","type":"http request","z":"ba1dd30d78d8f137","name":"PUT clear notification","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://notifier:4201/notificationservice/notifications/{{{notificationId}}}/ext/clear","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":1160,"wires":[["3ed615a54b9851c4"]]},{"id":"3ed615a54b9851c4","type":"debug","z":"ba1dd30d78d8f137","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1160,"wires":[]},{"id":"81625982d1f2781d","type":"function","z":"ba1dd30d78d8f137","name":"set params","func":"// Get access token from global context\nconst tokenData = global.get('iedAccessToken') || {};\nif (tokenData.accessToken) {\n    msg.headers = msg.headers || {};\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\n} else {\n    node.warn('No access token available - run Token Manager first');\n}\nmsg.notificationId = {}\nmsg.notificationId = \"14\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1160,"wires":[["6e07d0925babc823"]]},{"id":"a169e27296b441bf","type":"inject","z":"ba1dd30d78d8f137","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1160,"wires":[["81625982d1f2781d"]]},{"id":"292d511200594dd4","type":"function","z":"ba1dd30d78d8f137","name":"set auth token","func":"// Get access token from global context\nconst tokenData = global.get('iedAccessToken') || {};\nif (tokenData.accessToken) {\n    msg.headers = msg.headers || {};\n    msg.headers['Cookie'] = 'authToken=' + tokenData.accessToken;\n} else {\n    node.warn('No access token available - run Token Manager first');\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":560,"wires":[["59a9121088f4187c"]]}]